
target/
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
*.ipr
*.iws
out/
.vscode/
.DS_Store
logs/
*.log
generated/
target/generated-sources/
target/generated-test-sources/
*.mv.db
*.trace.db
.env
.env.*
*.class
spring.log
coverage/
jacoco.exec
/site/
Thumbs.db